
html {
    margin: 0px;
    width: 100%;
    height: 1500px; 
    background: linear-gradient(99.89deg, #3625AF 0%, #C46BD5 98.82%) no-repeat;
}
body{
    margin-top: 50px;
    margin: 0px;
    overflow-x: hidden;
    
}
.rectangle{
    position: absolute;
    width: 745px;

    height: 664px;
    right: 0px;
    top: 141px;
    
    background: url("images/Rectangle.png");
    border-radius: 150px 0px 0px 0px;
    z-index: -10;
}

header{
    color:#FFFFFF;
    margin:0px;
    height: 141px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
}
#About {
    transition: all .25s;
}

#About-menu{
    margin-top:15px;
    position: absolute;
    display: none;
    background-color: #FFFFFF;
    width: 154px;
    height: 125px;
    background: #FFFFFF;
    border-radius: 7px;
    color:#5C39BA;
    transform:translateX(-2em); 

}

#circle{
    height: 30px;
    width: 30px;
}
.About-menu{
    
    width: 100%;
    margin: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;

}
.menu_wrapper{
    display: flex;
    width:100%;
    margin: 0px auto;
    max-width:1000px;
    padding-top: 27px;
    justify-content: space-between;
}

.menu_wrapper a{
    text-decoration: none;
    color:#FFFFFF;
    
}



.button_call{
    transform: translateY(26px);
    position: absolute;
    width: 246px;
    height: 60px;
    border: 0px;
    opacity: 0;
    right: -40px;
    transition: all .1s;
    background: #302594;
    border-radius: 4px; 

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    /* identical to box height, or 375% */

    text-align: center;
    text-transform: uppercase;

    color: #FFFFFF;
    box-shadow: 0em 1.2em 15px rgba(122,122,122,0.3);
}


/* Container */
.container {
    display: flex;
    width: 100%;
    max-width: 1100px;
    padding: 0 15px;
    margin: 0 auto;
    justify-content: space-between;

}
/* Section */
.section {
    padding: 80px 0;
}

.description{
    padding-right: 40px;
    color: #FFFFFF;
    position: absolute;
    opacity: 0;
    left: -50px;
}

.description_title{
    width: 570px;
    height: 132px;
    left: 405px;
    top: 184px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 55px;
    line-height: 66px;

}

.description_subtitle{
    width: 332px;
    height: 56px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    padding: 35px 0;

}
.description_items{
    display: flex;
    width: 450px;
    flex-wrap: wrap;
    justify-content: space-between;
}
.description_item{
    display: flex;
    margin: 25px  0; 
}
.description_text{
    width: 139px;
    height: 34px;
   
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    /* or 120% */
    margin-left: 16px;
    
}

.calculation{
    width: 508px;
    height: 471px;
    background: #FFFFFF;
    border-radius: 10px;


    position: absolute;
    opacity: 0;
    right:-300px;
    transition: all .1s;
    
}

.calculation_form{
    margin:30px;
}

.calculation_title{
    
    width: 268px;
    height: 60px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    /* or 120% */
    color: #000000;  
    margin-bottom: 20px;  
}

.calculation_subtitle{
    width: 142px;
    height: 13px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 13px;

    text-transform: uppercase;

    color: #000000;
    margin: 18px 0;

}

.content_subtitle{
    display:flex;
    justify-content: space-between;
}
.square{
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    /* identical to box height, or 118% */

    letter-spacing: 1px;
    
    color: #000000;
}

.form_radio_out{
    display: flex;
    justify-content: space-between;

}

.form_radio{
    display: flex;
    align-items: center;
}

label{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;

}
#radio-1{
    max-width: 71px;
}

.radio_button{
    position: relative;
    width: 31px;
    height: 31px;
}
.radio_button::before{
    background:url("images/Radio.svg") no-repeat;
    content: "";
    display: block;
    width: 100%; 
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    
}

.radio_button:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: 5px;
    left: 5px;
    position: relative;
    background-color: #000000;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 3px solid white;
}

.button_form{
width: 185px;
height: 60px;
border: 0px;

background: #302594;
border-radius: 4px; 

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
/* identical to box height, or 375% */

text-align: center;
text-transform: uppercase;

color: #FFFFFF;
box-shadow: 0em 1.2em 15px rgba(122,122,122,0.3);

}


.button_form_out{
    width: 100%;
    display:flex;
    justify-content: center;
    margin: 40px 0px;
}

/* input */
input[type=range]  {
    width: 450px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  input[type=range]::-webkit-slider-runnable-track {
    height: 12px;
    border: 1px solid #BE69D5;
    background-color: #BE69D5;
  }
  input[type=range]::-webkit-slider-thumb {
    background: #302594;
    border-radius: 100%;
    cursor: pointer;
    width:33px;
    height: 33px;
    -webkit-appearance: none;
    margin-top: -8px; 
  }

  input[type=range]::-moz-range-track {
    height: 12px;
    border: 1px solid #BE69D5;
    background-color: #BE69D5;
      
  }
 input[type=range]::-moz-range-thumb {
    background: #302594;
    border-radius: 100%;
    cursor: pointer;
  }
@media (max-width: 1300px){
    .body{
        margin:0px;

    }
    
.rectangle{
    display: none;
}
    .description{
        padding: 0;
        max-width: 500px;
        margin-bottom: 80px;
    }
    .container {
        flex-direction: column;
        margin: 20px auto;
        width:100%;
        max-width: 500px;
    }
}

